<div class="container">
<% breadcrumb :cliente, @cliente %>
  
  <h1>Editar Cliente</h1>

  <%= render 'form', cliente: @cliente %>

  <div class="btn-group">
      <%= link_to 'Voltar', clientes_path, :class =>"btn btn-primary"%>
</div>
