<div class="container">
  <h1>Editing Cliente</h1>

  <%= render 'form', cliente: @cliente %>

  <div class="btn-group">
    <button type="button" class="btn btn-default">
      <%= link_to 'Show', @cliente %></button>
    <button type="button" class="btn btn-default">
      <%= link_to 'Back', clientes_path %></button>
</div>
