<div class="row remove-item">
  <div class="col-md-10">
    <%= f.association :produto%>
  </div>
  <div class="col-md-2 container-remote-item" style="margin-top: 25px">
    <%= link_to_remove_association "Remover produto", f, :class => "btn btn-danger bt-remove-item"%>
  </div>
</div>
