<div class="row">
  <div class="col-md-10">
    <%= f.association :produto%>
  </div>
  <div class="col-md-2">
    <br>
    <%= link_to_remove_association "Remover produto", f, :class => "btn btn-default"%>
  </div>
