<div class="container">
  <h1>Editar Pedido</h1>

  <%= render 'form', pedido: @pedido %>

  <div class="btn-group">
    <%= link_to 'Ver', @pedido, :class => "btn btn-primary"  %>
    <%= link_to 'Voltar', pedidos_path, :class => "btn btn-primary" %>
  </div>
</div>
