<%= render 'show_normal_user' %>
<% if current_usuario.admin? %>
  <div class="container">
    <% unless @pedido.status? %>
      <div class="pull-right">
        <%= simple_form_for @pedido, url: liberacao_pedido_path(@pedido), method: :post do |f| %>
          <%= f.hidden_field :status, value: true %>
          <%= f.button :submit, "Liberar pedido", class: "btn btn-success" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
