<div class="container">
  <h1>Editing Produto</h1>

  <%= render 'form', produto: @produto %>

  <div class="btn-group">
    <button type="button" class="btn btn-default">
      <%= link_to 'Show', @produto %> </button>
    <button type="button" class="btn btn-default">
      <%= link_to 'Back', produtos_path %></button>
  </div>
</div>
