<div class="container">
  <h1>Editing Produto</h1>

  <%= render 'form', produto: @produto %>

  <div class="btn-group">
    <%= link_to 'Show', @produto, :class => "btn btn-default" %> 
    <%= link_to 'Back', produtos_path, :class => "btn btn-default" %>
  </div>
</div>
