/*
*= require select2
*= require select2-bootstrap
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.cidade {
  width: 365px;
}

.navv {
  margin-top: 14px;
  font-family: monospace;
  color: gray;
  font-size: 45px;
}

.user {
  color: gray;
  margin-top: 30px;
}
