/*
*= require select2
*= require select2-bootstrap
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.cidade {
  width: 365px;
}

.navv {
  margin-top: 14px;
  font-family: monospace;
  color: gray;
  font-size: 45px;
}

.user {
  color: gray;
  margin-top: 30px;
}

.tudo {
  background-color: lightgray;
}

.td {
  background-color: #a9f5a9!important;
  font-weight: bold;
}

.breadcrumbs {
  font-style: italic;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #FFF;
  color: blue;
}

.btn-danger:hover {
  background-color: #FFF;
  color: red;
}

.btn-success:hover {
  background-color: #FFF;
  color: green;
}

.show {
  margin-top: 20px;
}
