<nav class="navbar navbar-inverse" >
  <div class="container">
    <h2>Controle de Pedidos
    <button type="button" class="btn btn-default navbar-btn">
                  Pedidos </button>
    <button type="button" class="btn btn-default navbar-btn">
            <%= link_to "Produtos", produtos_path %></button>
    <button type="button" class="btn btn-default navbar-btn">
            <%= link_to "Clientes", clientes_path %> </button>
    <button type="button" class="btn btn-default navbar-btn">
    <%= link_to "Logout", destroy_usuario_session_path,
              method: :delete %> </button
    
  </div>
</nav>
