<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <p> Pedidos
    <button type="button" class="btn btn-default navbar-btn">
    <%= link_to "Sair", destroy_usuario_session_path, method: :delete %> </button> </p>
  </div>
</nav>
